@model Publix.Risk.IncidentIntake.UI.Models.AssociateInjuryViewModel

@{
    ViewData["Title"] = "Index";
}
<style>
    .col-form-label {
        display: inline-block;
        text-align: right;
    }
</style>
<script src="~/js/site.js"></script>
<script src="~/js/associateinjury.js"></script>
<h2>&nbsp;&nbsp;&nbsp;&nbsp;Incident Intake - Associate Injury</h2>
<br />
<div class="alert alert-warning" role="alert">
    <strong style="color:burlywood;font-family:Arial;align-content:center">This report is prepared in anticipation of litigation and is privileged and confidential information. Do not share with the customer or anyone outside of publix without authorization from Risk Management.</strong>
</div>
<br />
<form>
    <h4>Primary Associate Invloved</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Name</label>
        </div>
        <div class="col-3">
            <input asp-for="EmpInjName" class="form-control" />
            <span asp-validation-for="EmpInjName" class="text-danger"></span>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" style="background-color:darkgray" data-toggle="modal" data-target="#injuredAssociateModal">Add</button>
            <button type="button" class="btn btn-primary" style="background-color:darkgray" data-toggle="modal" data-target="#injuredAssociateModal">Edit</button>
            <button type="button" class="btn btn-primary" style="background-color:darkgray" data-toggle="modal" data-target="#injuredAssociateDeleteModal">Delete</button>
        </div>
    </div>
    <hr />
    <br />
    <h4>Person Completing Form</h4>
    <hr />
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>PERNR</label>
        </div>
        <div class="col-2">
            <input asp-for="EmpPernr" class="form-control" />
            <span asp-validation-for="EmpPernr" class="text-danger"></span>
        </div>
        <div class="col-1">
            <button id="search-button" type="button" class="btn btn-primary" style="background-color:darkgray" data-toggle="modal" data-target="#associateSearchModal">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="col-form-label col-2">
            <label>Name</label>
        </div>
        <div class="col-3">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger" disabled="disabled"></span>
        </div>
    </div>
    <hr />
    <br />
    <h4>Manager Incident Reported To</h4>
    <hr />
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>PERNR</label>
        </div>
        <div class="col-2">
            <input asp-for="MgrPernr" class="form-control" />
            <span asp-validation-for="MgrPernr" class="text-danger"></span>
        </div>
        <div class="col-1">
            <button id="search-button" type="button" class="btn btn-primary" style="background-color:darkgray" data-toggle="modal" data-target="#associateSearchModal">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="col-form-label col-2">
            <label>Name</label>
        </div>
        <div class="col-3">
            <input asp-for="MgrName" class="form-control" />
            <span asp-validation-for="MgrName" class="text-danger" disabled="disabled"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Date Reported</label>
        </div>
        <div class="col-3">
            <input asp-for="DateReported" class="form-control" type="date" />
            <span asp-validation-for="DateReported" class="text-danger"></span>
        </div>
        <div class="col-form-label col-2">
            <label>Time Reported</label>
        </div>
        <div class="col-3">
            <input asp-for="TimeReported" class="form-control" type="time" />
            <span asp-validation-for="TimeReported" class="text-danger"></span>
        </div>
    </div>
    <hr />
    <br />
    <h4>Incident Location</h4>
    <hr />
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Incident At Publix Location?</label>
        </div>
        <div class="col-2">
            <select name="location" asp-for="IncidentAtPublix" id="incidentLocation" class="form-control" asp-items="Model.YesNoOnlyOptions">
            </select>
        </div>
    </div>
    <div id="incidentLocationDrpdwnYes">
        <div class="form-row">
            <div class="col-form-label col-2">
                <label>Location Type</label>
            </div>
            <div class="col-2">
                <select name="location" asp-for="LocationType" id="locationTypeDrpdwn" asp-items="Model.LocationTypesOptions" class="form-control">
                </select>
                <span asp-validation-for="LocationType" class="text-danger"></span>
            </div>
        </div>
        <br />

        <div class="form-row">
            <div class="col-form-label col-2">
                <label>Cost Center #</label>
            </div>
            <div class="col-3">
                <input asp-for="CostCenter" class="form-control" />
                <span asp-validation-for="CostCenter" class="text-danger"></span>
            </div>
            <div class="col-1">
                <button id="search-button" type="button" class="btn btn-primary" style="background-color:darkgray" data-toggle="modal" data-target="#locationSearchModal">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <div class="col-4">
                <span>Use 1 + the 4-Digit Store # for Stores</span>
            </div>
        </div>
        <br />
    </div>
    <div id="incidentLocationDrpdwnNo">
        <div class="form-row">
            <div class="col-form-label col-2">
                <label>Location Name</label>
            </div>
            <div class="col-4">
                <input asp-for="LocationName" class="form-control" />
                <span asp-validation-for="LocationName" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col-form-label col-2">
                <label>Address 1</label>
            </div>
            <div class="col-3">
                <input asp-for="Addr1" class="form-control" />
                <span asp-validation-for="Addr1" class="text-danger"></span>
            </div>
            <div class="col-form-label col-2">
                <label>Address 2</label>
            </div>
            <div class="col-3">
                <input asp-for="Addr2" class="form-control" />
                <span asp-validation-for="Addr2" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col-form-label col-2">
                <label>City</label>
            </div>
            <div class="col-3">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="col-form-label col-2">
                <label>State</label>
            </div>
            <div class="col-3">
                <select asp-for="State" id="state" class="form-control" asp-items="Model.StatesOptions">
                </select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col-form-label col-2">
                <label>zip</label>
            </div>
            <div class="col-3">
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <h4>Incident Details</h4>
    <hr />
    <div class="form-row" id="nonRetailShiftDiv">
        <div class="col-form-label col-2">
            <label>Non-Retail Shift</label>
        </div>
        <div class="col-2">
            <select asp-for="Shift" id="nonRetailShiftDrpdwn" class="form-control" asp-items="Model.ShiftsOptions">
            </select>
            <span asp-validation-for="Shift" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Date Of Incident</label>
        </div>
        <div class="col-3">
            <input asp-for="IncidentDate" class="form-control" type="date" />
            <span asp-validation-for="IncidentDate" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Time Of Incident</label>
        </div>
        <div class="col-3">
            <input asp-for="IncidentTime" class="form-control" type="time" />
            <span asp-validation-for="IncidentTime" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Associate's Description Of Incident</label>
        </div>
        <div class="col-4">
            <textarea asp-for="EmpDesc" class="form-control" rows="3">Type here..</textarea>
            <span asp-validation-for="EmpDesc" class="text-danger"></span>
        </div>
        <div class="col-form-label col-2">
            <label>(Note: 500 char limit.)</label>
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Manager Agrees with the Description</label>
        </div>
        <div class="col-2">
            <select asp-for="MgrAgrees" id="yesorno" class="form-control" asp-items="Model.YesNoOnlyOptions">
            </select>
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Associate's Actions Prior To Incident</label>
        </div>
        <div class="col-4">
            <textarea class="form-control" asp-for="EmpActions" rows="3">Type here..</textarea>
            <span asp-validation-for="EmpActions" class="text-danger"></span>
        </div>
        <div class="col-form-label col-2">
            <label>(Note: 500 char limit.)</label>
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Activity Engaged In</label>
        </div>
        <div class="col-3">
            <input asp-for="ActivityEngaged" class="form-control" />
            <span asp-validation-for="ActivityEngaged" class="text-danger"></span>
        </div>
        <div class="col-1">
            <button id="search-button" type="button" class="btn btn-primary" style="background-color:darkgray" data-toggle="modal" data-target="#codeSearchResultModal">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="col-form-label col-2">
            <label>Other's</label>
        </div>
        <div class="col-3">
            <input asp-for="ExplainOther" class="form-control" />
            <span asp-validation-for="ExplainOther" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Did Associate Fall</label>
        </div>
        <div class="col-2">
            <select asp-for="EmpFall" id="yesorno" class="form-control" asp-items="Model.YesNoOnlyOptions">
            </select>
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Vendor Invloved?</label>
        </div>
        <div class="col-2">
            <select asp-for="VendorInvolved" id="vendorInvlovedDrpdwn" class="form-control" asp-items="Model.YesNoOnlyOptions">
            </select>
        </div>
    </div>
    <br />
    <div class="form-row" id="vendorInvolved">
        <div class="col-form-label col-2">
            <label>Vendor</label>
        </div>
        <div class="col-3">
            <input asp-for="Vendor" class="form-control" />
            <span asp-validation-for="Vendor" class="text-danger"></span>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" style="background-color:darkgray" data-toggle="modal" data-target="#vendorInvlovedModal">Add</button>
            <button type="button" class="btn btn-primary" style="background-color:darkgray" data-toggle="modal" data-target="#injuredAssociateModal">Edit</button>
            <button type="button" class="btn btn-primary" style="background-color:darkgray" data-toggle="modal" data-target="#injuredAssociateDeleteModal">Delete</button>
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Inside/Outside Building</label>
        </div>
        <div class="col-2">
            <select asp-for="InsideOutside" id="yesorno" class="form-control" asp-items="Model.InsideOutsideOptions">
            </select>
            <span asp-validation-for="InsideOutside" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Detailed Incident Location</label>
        </div>
        <div class="col-3">
            <input asp-for="DetailedLocation" class="form-control" />
            <span asp-validation-for="DetailedLocation" class="text-danger"></span>
        </div>
        <div class="col-1">
            <button id="search-button" type="button" class="btn btn-primary" style="background-color:darkgray" data-toggle="modal" data-target="#locationSearchModal">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Type of Cliam</label>
        </div>
        <div class="col-2">
            <select asp-for="ClaimType" id="claimTypeDrpdwn" class="form-control" asp-items="Model.ClaimTypesOptions">
            </select>
            <span asp-validation-for="ClaimType" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Type of Incident</label>
        </div>
        <div class="col-2">
            <select asp-for="IncidentType" id="incidentTypeDrpdwn" class="form-control" asp-items="Model.IncidentTypesOptions">
            </select>
            <span asp-validation-for="IncidentType" class="text-danger"></span>
        </div>
        <div class="col-form-label col-2">
            <label>Other's</label>
        </div>
        <div class="col-3">
            <input asp-for="IncidentOther" class="form-control" />
            <span asp-validation-for="IncidentOther" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-row" id="floorType">
        <div class="col-form-label col-2">
            <label>Floor Type</label>
        </div>
        <div class="col-3">
            <select asp-for="FloorType" id="incidentTypeDrpdwn" class="form-control" asp-items="Model.FloorTypesOptions">
            </select>
            <span asp-validation-for="FloorType" class="text-danger"></span>
        </div>
        <div class="col-1">
            <button id="search-button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#codeSearchResultModal">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    <hr />
    <br />
    <h4>Personal Protective Equipment (PPE) Information</h4>
    <hr />
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Does Required PPE Relate to Injury</label>
        </div>
        <div class="col-2">
            <select asp-for="PPERelated" id="ppeInjuryDrpdwn" class="form-control" asp-items="Model.YesNoOnlyOptions">
            </select>
        </div>
    </div>
    <div class="form-row" id="associateWearingPPDDiv">
        <div class="col-form-label col-2">
            <label>Was Associate wearing Required PPE ?</label>
        </div>
        <div class="col-2">
            <select asp-for="PPEWorn" id="ppeWearingDrpdwn" class="form-control" asp-items="Model.YesNoOnlyOptions">
            </select>
        </div>
    </div>
    <hr />
    <br />
    <h4> Equipment / Object Information</h4>
    <hr />
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Equipment / Object Involved?</label>
        </div>
        <div class="col-2">
            <select asp-for="EquipmentInvolved" id="equipmentOrObjectDrpdwn" class="form-control" asp-items="Model.YesNoOnlyOptions">
            </select>
        </div>
    </div>
    <div class="form-row" id="equipmentOrObjectDiv">
        <div class="col-form-label col-2">
            <label>Equipment</label>
        </div>
        <div class="col-4">
            <textarea class="form-control" asp-for="Equipment" rows="3">Type here..</textarea>
            <span asp-validation-for="Equipment" class="text-danger"></span>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" style="background-color:darkgray" data-target="#equipmentModal" data-toggle="modal">Add</button>
            <button type="button" class="btn btn-primary" style="background-color:darkgray">Edit</button>
            <button type="button" class="btn btn-primary" style="background-color:darkgray">Delete</button>
        </div>
    </div>
    <hr />
    <br />
    <h4> Chemical Information</h4>
    <hr />
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Chemicals Involved?</label>
        </div>
        <div class="col-2">
            <select asp-for="Chemicals" id="chemicalDrpdwn" class="form-control" asp-items="Model.YesNoOnlyOptions">
            </select>
        </div>
    </div>
    <div class="form-row" id="chemicalDiv">
        <div class="col-form-label col-2">
            <label>Chemicals</label>
        </div>
        <div class="col-4">
            <textarea class="form-control" asp-for="ChemicalsType" rows="3">Type here..</textarea>
            <span asp-validation-for="ChemicalsType" class="text-danger"></span>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" style="background-color:darkgray" data-toggle="modal" data-target="#chemicalModal">Add</button>
            <button type="button" class="btn btn-primary" style="background-color:darkgray">Edit</button>
            <button type="button" class="btn btn-primary" style="background-color:darkgray">Delete</button>
        </div>
    </div>
    <hr />
    <br />
    <h4>Medical Information</h4>
    <hr />
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Medical Care Sought?</label>
        </div>
        <div class="col-2">
            <select asp-for="MedicalCareSought" id="medicareSoughtDrpdwn" class="form-control" asp-items="Model.YesNoOnlyOptions">
            </select>
        </div>
    </div>
    <br />
    <div id="medicalCareSoughtYesDiv">
        <div class="form-row">
            <div class="col-form-label col-2">
                <label>Physician / Health Care Professional</label>
            </div>
            <div class="col-3">
                <input asp-for="MedicalProfessional" class="form-control" />
                <span asp-validation-for="MedicalProfessional" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-form-label col-2">
                <label>Medical Location Name</label>
            </div>
            <div class="col-3">
                <input asp-for="MedicalLocation" class="form-control" />
                <span asp-validation-for="MedicalLocation" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col-form-label col-2">
                <label>Address1</label>
            </div>
            <div class="col-3">
                <input asp-for="MedicalAddr1" class="form-control" />
                <span asp-validation-for="MedicalAddr1" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col-form-label col-2">
                <label>Address2</label>
            </div>
            <div class="col-3">
                <input asp-for="MedicalAddr2" class="form-control" />
                <span asp-validation-for="MedicalAddr2" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col-form-label col-2">
                <label>City</label>
            </div>
            <div class="col-3">
                <input asp-for="MedicalCity" class="form-control" />
                <span asp-validation-for="MedicalCity" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col-form-label col-2">
                <label>State</label>
            </div>
            <div class="col-3">
                <select asp-for="MedicalState" class="form-control" asp-items="Model.StatesOptions">
                </select>
                <span asp-validation-for="MedicalState" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col-form-label col-2">
                <label>Zip</label>
            </div>
            <div class="col-3">
                <input asp-for="MedicalZip" class="form-control" />
                <span asp-validation-for="MedicalZip" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col-form-label col-2">
                <label>Phone</label>
            </div>
            <div class="col-3">
                <input asp-for="MedicalPhone" class="form-control" />
                <span asp-validation-for="MedicalPhone" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col-form-label col-2">
                <label>Transported By EMS?</label>
            </div>
            <div class="col-2">
                <select asp-for="TransportedEMS" id="yesorno" class="form-control" asp-items="Model.YesNoUnkownOptions">
                </select>
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col-form-label col-2">
                <label>Treated In ER?</label>
            </div>
            <div class="col-2">
                <select asp-for="TreatedInER" id="yesorno" class="form-control" asp-items="Model.YesNoOnlyOptions">
                </select>
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="col-form-label col-2">
                <label>Hospitalized Overnight as In-Patient</label>
            </div>
            <div class="col-2">
                <select asp-for="HospitalOvernight" class="form-control" asp-items="Model.YesNoOnlyOptions">
                </select>
            </div>
        </div>
        <br />
    </div>
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>OSHA Recordable?</label>
        </div>
        <div class="col-2">
            <select asp-for="OSHARecordable" asp-items="Model.YesNoOnlyOptions" class="form-control">
            </select>
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Associate Drug Tested?</label>
        </div>
        <div class="col-2">
            <select asp-for="EmpDrugTested" asp-items="Model.YesNoOnlyOptions" class="form-control">
            </select>
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Blood/OPIM involved in Incident?</label>
        </div>
        <div class="col-2">
            <select asp-for="BloodOPIM" class="form-control" asp-items="Model.YesNoUnkownOptions">
            </select>
        </div>
    </div>
    <hr />
    <br />
    <h4>Other Associate's Invloved</h4>
    <hr />
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Other Associate's Invloved</label>
        </div>
        <div class="col-4">
            <textarea class="form-control" rows="3" asp-for="OtherEmpInvolved">Type here..</textarea>
            <span asp-validation-for="OtherEmpInvolved" class="text-danger"></span>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" style="background-color:darkgray" data-toggle="modal" data-target="#otherAssociatesModal">Add</button>
            <button type="button" class="btn btn-primary" style="background-color:darkgray">Edit</button>
            <button type="button" class="btn btn-primary" style="background-color:darkgray">Delete</button>
        </div>
    </div>
    <hr />
    <br />
    <h4>Non-Associate's Invloved</h4>
    <hr />
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Non-Associate's Invloved</label>
        </div>
        <div class="col-4">
            <textarea class="form-control" rows="3" asp-for="NonEmpInvolved">Type here..</textarea>
            <span asp-validation-for="NonEmpInvolved" class="text-danger"></span>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" style="background-color:darkgray" data-toggle="modal" data-target="#nonAssociatesInvlovedModal">Add</button>
            <button type="button" class="btn btn-primary" style="background-color:darkgray">Edit</button>
            <button type="button" class="btn btn-primary" style="background-color:darkgray">Delete</button>
        </div>
    </div>
    <hr />
    <br />
    <h4>Witness</h4>
    <hr />
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Associate's Witness(es)</label>
        </div>
        <div class="col-4">
            <textarea class="form-control" rows="3" asp-for="EmpWitnesses">Type here..</textarea>
            <span asp-validation-for="EmpWitnesses" class="text-danger"></span>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" style="background-color:darkgray" data-target="#associateSearchModal" data-toggle="modal">Add</button>
            <button type="button" class="btn btn-primary" style="background-color:darkgray">Delete</button>
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Non-Associate's Witness(es)</label>
        </div>
        <div class="col-4">
            <textarea class="form-control" rows="3" asp-for="NonEmpWitnesses">Type here..</textarea>
            <span asp-validation-for="NonEmpWitnesses" class="text-danger"></span>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" style="background-color:darkgray" data-target="#nonAssociatesWitnessModal" data-toggle="modal">Add</button>
            <button type="button" class="btn btn-primary" style="background-color:darkgray">Edit</button>
            <button type="button" class="btn btn-primary" style="background-color:darkgray">Delete</button>
        </div>
    </div>
    <hr />
    <br />
    <h4>Evidence</h4>
    <hr />
    <div class="form-row">
        <div class="col-form-label col-22">
            <label><strong>Reminder:</strong>Please follow standards outlined in the Cutsomer Service and Store Operation Section of the retail MRL regarding video</label>
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Incident area covered by Vedio?</label>
        </div>
        <div class="col-2">
            <select asp-for="CoveredVideo" id="incidentCoveredByVideoDrpdwn" class="form-control" asp-items="Model.YesNoUnkownOptions">
            </select>
        </div>
    </div>
    <div class="form-row" id="cameraDiv">
        <div class="col-form-label col-2">
            <label>Camera #</label>
        </div>
        <div class="col-3">
            <input asp-for="Camera" class="form-control" />
            <span asp-validation-for="Camera" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-form-label col-2">
            <label>Photo Taken?</label>
        </div>
        <div class="col-2">
            <select asp-for="PhotsTaken" asp-items="Model.YesNoOnlyOptions" class="form-control">
            </select>
        </div>
    </div>
    <hr />
    <br />
    <div class="form-row" style="justify-content:center">
        <div class="col-1">
            <input type="submit" value="Submit" class="btn btn-primary btn-success" />
        </div>
        <div class="col-1">
            <input type="submit" value="Cancel" class="btn btn-secondary btn-info" style="background-color:darkgray">
        </div>
    </div>
</form>





@{
    Html.RenderPartial("~/Views/Shared/Dialogs/_InjuredAssociatePartial.cshtml");
    Html.RenderPartial("~/Views/Shared/Dialogs/_InjuredAssociateDeletePartial.cshtml");
    Html.RenderPartial("~/Views/Shared/Dialogs/_VendorInvlovedPartial.cshtml");
    Html.RenderPartial("~/Views/Shared/Dialogs/_CodeSearchResultPartial.cshtml");
    Html.RenderPartial("~/Views/Shared/Dialogs/_EquipmentPartial.cshtml");
    Html.RenderPartial("~/Views/Shared/Dialogs/_ChemicalPartial.cshtml");
    Html.RenderPartial("~/Views/Shared/Dialogs/_OtherAssociatesPartial.cshtml");
    Html.RenderPartial("~/Views/Shared/Dialogs/_NonAssociatesInvlovedPartial.cshtml");
    Html.RenderPartial("~/Views/Shared/Dialogs/_NonAssociatesWitnessPartial.cshtml");
    Html.RenderPartial("~/Views/Shared/Dialogs/_LocationSearchResultPartial.cshtml");
    //Html.Partial("~/Views/Shared/Dialogs/_LocationSearchResultPartial.cshtml", Model.LocationSearchViewModel);
    Html.RenderPartial("~/Views/Shared/Dialogs/_LocationSearchPartial.cshtml");
    Html.RenderPartial("~/Views/Shared/Dialogs/_AssociateSearchPartial.cshtml");
}



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
