<li class="nav-item"><a class="nav-link" href="~/create">Create</a></li>

<li class="nav-item"><a class="nav-link" href="#">View</a></li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="menupartial_admin_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
    <div class="dropdown-menu" aria-labelledby="menupartial_admin_dropdown">
        <a class="dropdown-item" href="~/configuration/additional-detail-templates">Additional Detail Templates</a>
        <a class="dropdown-item" href="~/configuration/associates">Associates View</a>
        <a class="dropdown-item" href="~/configuration/attachment-types">Attachment Types</a>
        <a class="dropdown-item" href="~/configuration/coordinator-contacts">Coordinator Contacts</a>
        <a class="dropdown-item" href="~/configuration/email-subject-templates">Email Subject Templates</a>
        <a class="dropdown-item" href="~/configuration/facilities">Facilities View</a>
        <a class="dropdown-item" href="~/configuration/instruction-groups">Instruction Groups</a>
        <a class="dropdown-item" href="~/configuration/instruction-templates">Instruction Templates</a>
        <a class="dropdown-item" href="~/configuration/method-of-payments">Method of Payments</a>
        <a class="dropdown-item" href="~/configuration/notification-groups">Notification Groups</a>
        <a class="dropdown-item" href="~/configuration/notificationRecipients">Notification Recipients</a>
        <a class="dropdown-item" href="~/configuration/organizational-units">Organizational Units View</a>
        <a class="dropdown-item" href="~/configuration/physical-dispositions">Physical Disposition</a>
        <a class="dropdown-item" href="~/configuration/reasons">Reasons</a>
        <a class="dropdown-item" href="~/configuration/recall-timespans">Recall Timespans</a>
        <a class="dropdown-item" href="~/configuration/rbus">Retail Business Units</a>
        <div class="dropdown-divider"></div>
        <a id="menupartial_isadmin_dropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle caretright">I/S Admin</a>
        <ul aria-labelledby="menupartial_isadmin_dropdown" class="dropdown-menu dropright">
            <li>
                <a class="dropdown-item" href="~/configuration/recall-types">Recall Types</a>
                <a class="dropdown-item" href="~/configuration/countries">Countries</a>
                <a class="dropdown-item" href="~/configuration/states">States</a>
                <a class="dropdown-item" href="~/configuration/divisions">Divisions</a>
                <a class="dropdown-item" href="~/configuration/retail-job-classes">Retail Job Classes</a>
                <a class="dropdown-item" href="~/configuration/facility-types">Facility Types</a>
                <a class="dropdown-item" href="~/configuration/store-types">Store Types</a>
                <a class="dropdown-item" href="~/configuration/configuration-items">Configuration Items</a>
                <a class="dropdown-item" href="~/configuration/locks">Locks</a>
                <a class="dropdown-item" href="#">Kafka Event Logs</a>
                <a class="dropdown-item" href="#">System Logs</a>
            </li>
        </ul>
    </div>
</li>

<li class="nav-item"><a class="nav-link" href="~/bootstrap/">Bootstrap</a></li>