<!--Associate search Modal Popup-->
<div class="modal fade" id="associateSearchModal" tabindex="-1" role="dialog" aria-labelledby="associateSearchModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center" style="background-color:green;">
                <h5 class="modal-title text-center" id="associateSearchModalTitle"><strong style="color:white;">Associate Search</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-form-label col-2">
                            <label>Search By PERNR</label>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="PERNR">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <span><strong>OR</strong><br /> Search by any combination of following:</span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-form-label col-2">
                            <label>First Name</label>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="First Name">
                        </div>
                        <div class="col-4">
                            <span>First 2 letters required</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-form-label col-2">
                            <label>Last Name</label>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="Last Name">
                        </div>
                        <div class="col-4">
                            <span>First 2 letters required</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-form-label col-2">
                            <label>Cost Center #</label>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="Cost Center">
                        </div>
                        <div class="col-1">
                            <button id="search-button" type="button" class="btn btn-primary" style="background-color:darkgray" data-toggle="modal" data-target="#costCenterSearchModal">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <div class="col-4">
                            <span>Use 1 + the 4-Digit Store # for Stores</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <span><strong><br />Use '*' in the First Name and Last Name fields for wildcard search.</strong></span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-12 text-center">
                            <button type="button" class="btn btn-primary btn-lg" style="background-color:green;">Search</button>
                        </div>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<!--Associate search Modal Popup-->