<!--Code search Results Modal Popup-->
<div class="modal fade" id="codeSearchResultModal" tabindex="-1" role="dialog" aria-labelledby="codeSearchResultModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center" style="background-color:green;">
                <h5 class="modal-title text-center" id="codeSearchResultModalTitle"><strong style="color:white;">Code Search Results</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <table class="table table-striped table-bordered table-responsive-md">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Description</th>
                                <th scope="col">Code</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#">Select</a></td>
                                <td>Battery Room</td>
                                <td>B0900</td>
                            </tr>
                            <tr>
                                <td><a href="#">Select</a></td>
                                <td>Dispatch</td>
                                <td>D1000</td>
                            </tr>
                            <tr>
                                <td><a href="#">Select</a></td>
                                <td>Flow Rack</td>
                                <td>F0400</td>
                            </tr>
                            <tr>
                                <td><a href="#">Select</a></td>
                                <td>Garage</td>
                                <td>G0100</td>
                            </tr>
                            <tr>
                                <td><a href="#">Select</a></td>
                                <td>Battery Room</td>
                                <td>B0900</td>
                            </tr>
                            <tr>
                                <td><a href="#">Select</a></td>
                                <td>Battery Room</td>
                                <td>B0900</td>
                            </tr>
                            <tr>
                                <td><a href="#">Select</a></td>
                                <td>Battery Room</td>
                                <td>B0900</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-12 text-center">
                            <button type="button" class="btn btn-primary btn-lg" style="background-color:darkgray;" data-toggle="modal" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Code search Results Modal Popup-->