<!--Non Associates Modal Popup-->
<div class="modal fade" id="nonAssociatesInvlovedModal" tabindex="-1" role="dialog" aria-labelledby="nonAssociatesInvlovedModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center" style="background-color:green;">
                <h5 class="modal-title text-center" id="nonAssociatesInvlovedModalTitle"><strong style="color:white;">Associate Injury Persons Invloved</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form>
                        <div class="form-row">
                            <div class="col-form-label col-3">
                                <label><strong>Invlovement Type</strong></label>
                            </div>
                            <div class="col-3">
                                <select name="location" id="yesorno" class="form-control">
                                    <option value="volvo">--SELECT--</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <h6>Contact Information</h6>
                        <hr />
                        <div class="form-row">
                            <div class="col-form-label col-2">
                                <label>First Name</label>
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                            <div class="col-form-label col-2">
                                <label>Last Name</label>
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                        <br />
                        <div class="form-row">
                            <div class="col-form-label col-2">
                                <label>Address 1</label>
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control" placeholder="Address 1">
                            </div>
                            <div class="col-form-label col-2">
                                <label>Address 2</label>
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control" placeholder="Address 2">
                            </div>
                        </div>
                        <br />
                        <div class="form-row">
                            <div class="col-form-label col-2">
                                <label>City</label>
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control" placeholder="City">
                            </div>
                            <div class="col-form-label col-2">
                                <label>State</label>
                            </div>
                            <div class="col-3">
                                <select name="location" id="yesorno" class="form-control">
                                    <option value="volvo">--SELECT--</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="form-row">
                            <div class="col-form-label col-2">
                                <label>Zip</label>
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control" placeholder="Zip">
                            </div>
                            <div class="col-form-label col-2">
                                <label>Country</label>
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control" placeholder="Country">
                            </div>
                        </div>
                        <br />
                        <div class="form-row">
                            <div class="col-form-label col-2">
                                <label>Primary Phone</label>
                            </div>
                            <div class="col-3">
                                <input type="tel" class="form-control" placeholder="Primary Phone">
                            </div>
                            <div class="col-form-label col-2">
                                <label>Alternate Phone</label>
                            </div>
                            <div class="col-3">
                                <input type="tel" class="form-control" placeholder="Alternate Phone">
                            </div>
                        </div>
                        <br />
                        <div class="form-row">
                            <div class="col-form-label col-2">
                                <label>Email</label>
                            </div>
                            <div class="col-3">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <br />
                        <div class="form-row">
                            <div class="col-form-label col-2">
                                <label>DOB</label>
                            </div>
                            <div class="col-3">
                                <input type="date" class="form-control" placeholder="City">
                            </div>
                            <div class="col-form-label col-2">
                                <label>Gender</label>
                            </div>
                            <div class="col-3">
                                <select name="location" id="yesorno" class="form-control">
                                    <option value="volvo">--SELECT--</option>
                                    <option value="yes">Male</option>
                                    <option value="no">Female</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="form-row">
                            <div class="col-form-label col-2">
                                <label>Minor</label>
                            </div>
                            <div class="col-3">
                                <select name="location" id="yesorno" class="form-control">
                                    <option value="volvo">--SELECT--</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <div class="col-form-label col-2">
                                <label>Spouse's Name</label>
                            </div>
                            <div class="col-3">
                                <input type="tel" class="form-control" placeholder="Spouse's Name">
                            </div>
                        </div>
                        <br />
                        <hr />
                        <div class="row">
                            <div class="col-12 text-center">
                                <button type="button" class="btn btn-primary btn-lg" style="background-color:darkgray;">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Non Associates Invloved Modal Popup-->