@{
    ViewData["Title"] = "Home page";
}
<head>
    <link href="~/css/index.css" rel="stylesheet" />
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col col-sm-12 col-xs-12 col-md-6 col-lg-3 order-0">
            <a class="btn btn-lg px-3 border-success a-btn" href="/AssociateInjury" role="button">
                <i class="fa fa-user fa-lg img-css" aria-hidden="true"></i>
                <span style="color:black">Customer Incident</span>
            </a>
        </div>
        <div class="col col-sm-12 col-xs-12 col-md-6 col-lg-3 order-1">
            <a class="btn btn-lg px-3 border-success a-btn" href="~/AssociateInjury/Index" role="button">
                <i class="far fa-user fa-lg img-css" aria-hidden="true"></i>
                <span>Associate Injury</span>
            </a>
        </div>
        <div class="col col-sm-12 col-xs-12 col-md-6 col-lg-3 order-2">
            <a class="btn btn-lg px-3 border-success a-btn" href="#" role="button">
                <i class="fas fa-prescription fa-lg img-css" aria-hidden="true"></i>
                <span>QRE Incident</span>
            </a>
        </div>
        <div class="col col-sm-12 col-xs-12  col-md-6 col-lg-3 order-3">
            <a class="btn btn-lg px-3 border-success a-btn" href="#" role="button">
                <i class="fa fa-trash-alt fa-lg img-css" aria-hidden="true"></i>
                <span>CQA Incident</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-12 col-xs-12  col-md-6 col-lg-3 order-0">
            <a class="btn btn-lg px-3 border-success a-btn" href="/CartDamage/Index" role="button">
                <i class="fas fa-shopping-cart fa-lg img-css" aria-hidden="true"></i>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cart Damage</span>
            </a>
        </div>
        <div class="col col-sm-12 col-xs-12  col-md-6 col-lg-3 order-1">
            <a class="btn btn-lg px-3 border-success a-btn" href="~/PropertyDamage/Index" role="button">
                <i class="fas fa-house-damage fa-lg img-css" aria-hidden="true"></i>
                <span>Property Damage</span>
            </a>
        </div>
        <div class="col col-sm-12 col-xs-12  col-md-6 col-lg-3 order-2">
            <a class="btn btn-lg px-3 border-success a-btn" href="/AutoClaim/Index" role="button">
                <i class="fas fa-car-crash fa-lg img-css" aria-hidden="true"></i>
                <span>&nbsp; Auto Claim</span>
            </a>
        </div>
        <div class="col col-sm-12 col-xs-12  col-md-6 col-lg-3 order-3">
            <a class="btn btn-lg px-3 border-success a-btn" href="#" role="button">
                <i class="fas fa-truck fa-lg img-css" aria-hidden="true"></i>
                <span>Fleet Safety</span>
            </a>
        </div>
    </div>
</div>